@import "reset.css";
@import "../fonts/LoungeBait/stylesheet.css";

body {
  background: black;
}

#exampleBlurb {
  margin-bottom: 0;
}

h1#outside {
	position: absolute;
	top: 100px;
	left: 10px;
	z-index: 30;
}



#headerText {
	fill: white; 
	font-family: "LoungeBait";
	
	text-anchor: middle;
	/* for text spacing in VML */
	/* v-text-spacing:3;v-text-spacing-mode:tracking; */
	v-text-align: left;
	
	position: relative;
	
	top: 10px;
	
	font-size: 119px;
	
	
	-ms-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
}

.vml #headerText {
	font-size: 65px;
	font-family: "Times New Roman";
}

#leftGlassText, #rightGlassText, #bottomGlassText {
	fill: white; 
	font-size: 17px; 
	
	/* VML will not accept @font-face fonts (!!!) */
	font-family: "Arial", sans-serif;
	
	
	/* for text spacing in VML */
	/* v-text-spacing:3;v-text-spacing-mode:tracking; */
	v-text-align: center;

	

	text-anchor: middle;
	
	/* VML */
	v-text-spacing:1.11; 
	v-text-spacing-mode:tracking;
	v-text-kern: True;
}


svg {
  -webkit-transform: translateZ(0);
  display: block;
}

svg, svg text, svg textpath{
  -webkit-transform: translateZ(0);
}

#myShape, #shapeContainer {
	position: absolute;
	z-index: 10;
	width: 597px;
	height: 960px;
 
  background: url('../images/transparent.gif') ;
  overflow: hidden;
  
}


#myShape:hover {

}


#rollerCoasterImage {
    left: 0px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.vml .path {
	background-color: #666666;
	filter: 
          progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

text , .path {
	opacity: 0;
	
}
